body{
    background-color: rgb(39, 39, 39);
    color: rgb(213, 213, 213);
    font-family: sans-serif;
    margin-left: 20px;
}

#heading_1_span{
    color: #ff8e00;
}

.main {
    margin-top: 50px;
}
#heading_1{
    margin-bottom: 30px;
}

